<div class="contact">
  <h1 class="title">Get In Touch</h1>
  <p>
    Have some cool art you want to make happen? Wanna say hi? Send me a message
  </p>
  
  <!-- This is what the form should look like> -->
  <%= form_with model: @message, class: "contact-form" do |form| %>
    <%= form.text_field :name, class: "name-input", placeholder: "NAME"%>
    <%= form.text_field :email, class:"email-input", Placeholder: "EMAIL"%>
    <%= form.text_area :message, class:"message-input", placeholder: "I have this really cool idea for...",cols:"30", rows:"10"%>
    <%= form.submit "Submit", class:"submit-button"%>
  <% end %>

</div>
